<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li><a href="/Product/Index">Products</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Rafet Canovic's ASP.NET Application</p>
        </footer>
    </div>


    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" /> 
    <link href="~/Scripts/plugins/datatables/buttons.bootstrap.css" rel="stylesheet" />
    <link href="~/Scripts/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" />
    <!--<link href="~/Scripts/plugins/datatables/colReorder.bootstrap.css" rel="stylesheet" />-->

   
    <!--<script src="~/Scripts/jquery-3.2.1.js"></script>-->
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>

    <script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>

    
    <!---<script src="~/Scripts/plugins/jQueryUI/jquery-ui-1.10.3.js"></script>-->
    <script src="~/Scripts/plugins/datatables/jquery.dataTables.js"></script>
    <script src="~/Scripts/jquery.editable.js"></script>
    <script src="~/Scripts/plugins/datatables/jquery.dataTables.editable.js"></script>
    
    

    <script src="~/Scripts/jquery.validate.js"></script>
    
   

   
    
    
   
    <script src="~/Scripts/pages/Products.js"></script>

</body>
</html>
